.body_container{
    max-width: 1200px;
    width: 100%;
    margin: 0px auto;
    background-color: white;
}
/* header */
header{
    margin-top: 30px;
}
.search_div{
    margin-left: 120px;
    width: 446px;
    height: 56px;
    background-color: rgb(244, 255, 255);
    position: relative;
    align-items: center;
}
.search_p{
    position: absolute;
    font-size: 14px;
    top: 23px;
    left: 10px;
    font-family: 'Book';
}
.search_icon{
    position: absolute;
    right: 6px;
    top: 15px;
}
.search_section{
    display: flex;
    align-items: center;
}
.header_box_2{
    display: flex;
   padding-left: 300px;
    height: 60px;
    align-items: center;
    position: relative;
    
}
.messages{
    width: 24px;
    height: 24px;
    padding-right: 10px;
    padding-left: 10px;
}
.notification{
    width: 24px;
    height: 24px;
    padding-right: 10px;
}
.text_header{
    color: #ff2288;
    width: 80px;
    
}
.button{
    width: 129px;
    height: 56px;
    position: relative;
    padding-left: 10px;
}
.button_text{
    position: absolute;
    top: 20px;
    right: 30px;
    font-family: 'Book';
    color: white;
}
/* Second section */
.second_section_box_1{
    display: flex;
    align-items: center;
}
.second_section{
    margin-left: 35px;
    margin-top: 60px;
    display: flex;
}
.second_section h2{
    font-size: 16px;
    font-family: 'Book';
    margin-left: 50px;

}
.filters{
    font-size: 16px;
    font-family: 'Book';
    position: absolute;
    top: 22.5px;
    left: 60px;

}
.second_section_box_2{
    position: relative;
    margin-left:200px ;
}
.icon{
    position: absolute;
    top:20px ;
    left: 15px;
}
.main_box_1{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.main_box_1 p{
    margin-left: 30px;
    font-size: 16px;
    font-family: 'Medium';
}
.picture_1,.picture_2,.picture_3,.picture_4{
    width: 289px;
    height: 278px;
}
.main_section_2{
    display: flex;
    margin-left: 20px;
}
.pic_5,.pic_6,.pic_7,.pic_8{
    width: 289px;
    height: 278px;
}
.main_section_2 p{
    margin-left: 30px;
    font-size: 16px;
    font-family: 'Medium';
}
.button_box{
    display: inline-block;
    position: relative;
    margin-left:460px;
}
h4{
    position: absolute;
    top: 25px;
    left: 100px;
    font-family: 'Heavy';
    
}